{% extends "two-thirds.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }]
  }) }}
{% endblock %}

{% block twoThirds %}
  <h1 class="govuk-heading-xl">Page not found</h1>
{% endblock %}
