{% extends "two-thirds.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = "Accessibility statement for the " + serviceName + " service" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }]
  }) }}
{% endblock %}

{% block content %}
<div id="accessibility-statement">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">This accessibility statement applies to the {{ serviceName }} service.</p>
      <p class="govuk-body">
        This reporting service is run by the Department for Environment, Farming and Rural Affairs (Defra) and the Environmental Agency.
        We want as many people as possible to be able to use this service. That means you should be able to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">
        We've also made the text in the service as simple as possible to understand.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-l">Accessibility of this service</h2>

      <p class="govuk-body">
        This service has been tested internally by the team developing it.
        It has also been developed using GOV.UK patterns, which are rigorously tested for accessibility issues.
      </p>

      <h2 class="govuk-heading-l">Feedback and contact information</h2>

      <p class="govuk-body">Let us know if you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>need help using this service</li>
        <li>find any problems not listed on this page or think we're not meeting accessibility requirements</li>
      </ul>

      <p class="govuk-body">Contact: The Incident Communications Service: 0800 80 70 60</p>

      <h3 class="govuk-heading-l">Enforcement procedure</h3>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').
        If you're not happy with how we respond to your complaint, <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>

      <h2 class="govuk-heading-l">Technical information about this service's accessibility</h2>

      <p class="govuk-body">
        Defra and The Environmental Agency are committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
        This service has been internally tested for accessibility.
      </p>

      <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

      <p class="govuk-body">
        This statement was prepared on 1 September 2021.
        It was last reviewed on 1 September 2021.
        This service was last internally tested on 1 September 2021.
        All pages of the form were tested.
      </p>
    </div>
  </div>
</div>
{% endblock %}