{% extends "two-thirds.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% set pageHeading = "Submission complete" %}
{% set pageTitle = pageHeading + " - " + pageTitle %}

{% block twoThirds %}
  {{ govukPanel({
    titleText: pageHeading
  }) }}

  <p class="govuk-body">Thank you for submitting your report.</p>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">
    Your report has been logged onto our National Incident Reporting System (NIRS) database.
  </p>

  <p class="govuk-body">
    If you provided a valid email address, you will receive an email confirming the submission of your report, and a copy of your NIRS reference number.
  </p>

  <p class="govuk-body">
    We may need to contact you to ask for more information.
  </p>

  <p class="govuk-body">
    The Environment Agency recognises the distress that the smell from Walleys Quarry is causing the local community. We are working hard to respond to Walleys Quarry reports and complaints as quickly as possible.
  </p>
{% endblock %}
