{% extends "two-thirds.html" %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block twoThirds %}
  {{ govukPanel({
    titleText: "Submission Complete"
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">
    We've sent your report to our customer services team
  </p>
  <p class="govuk-body">
    They will contact you to confirm your submission, or to ask for more information.
  </p>
{% endblock %}