{% extends "two-thirds.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% set pageHeading = "We’ve received your report" %}
{% set pageTitle = pageHeading + " - " + pageTitle %}

{% block twoThirds %}
  {{ govukPanel({
    titleText: pageHeading
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">
    Your report will be logged into our National Incident Recording System.
    You will get an email to confirm this. It will include your reference number for the report.
  </p>

  <p class="govuk-body">
    If we need more information, we will contact you.
  </p>

  <p class="govuk-body">
    The Environment Agency recognises the distress that the smell from Walleys Quarry is causing to the local community.
    We are working hard to respond to Walleys Quarry reports and complaints as quickly as possible.
  </p>
{% endblock %}
