{% extends "two-thirds.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block twoThirds %}
<div id="home-page">
  <h1 class="govuk-heading-l">{{serviceName}}</h1>

  <p class="govuk-body">
    The Environment Agency provides weekly updates on Walleys Quarry via its <a class="govuk-link" href="https://consult.environment-agency.gov.uk/west-midlands/walleys-quarry-landfill-sliverdale/" target="_blank" rel="noopener">Citizen Space website (opens in new window)</a>.
  </p>

  <p class="govuk-body">To subscribe to receive these updates directly, please contact the West Midlands Enquiries Team at: <a class="govuk-link" href="mailto:Enquiries_WestMids@environment-agency.gov.uk">Enquiries_WestMids@environment-agency.gov.uk</a>. You can unsubscribe at any time.</p>

  <p class="govuk-body">
    If you still wish to report the smell from Walleys Quarry after reading these updates, please use this data capture form.
  </p>

  <p class="govuk-body">
    All reports are logged, and a unique reference number will be generated for each report. This number will be sent to you within three working days after completion of this form, if you provide us with a valid email address.
  </p>

  {{ govukButton({
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
    href: "/about-you",
    text: "Continue"
  }) }}
</div>
{% endblock %}
