{% extends "two-thirds.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageHeading = "Privacy notice: " + serviceName %}
{% set pageTitle = pageHeading + " - GOV.UK" %}


{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }]
  }) }}
{% endblock %}

{% block content %}
<div id="privacy-notice">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <p class="govuk-body">
        We are the Environment Agency and we run the environmental incident reporting service.
        We are the data controller for this service. A data controller determines how and why personal data (personal information) is processed.
        Our <a class="govuk-link" href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains how we deal with your personal information
      </p>

      <h2 class="govuk-heading-l">The personal data we need</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>your contact details which may include home address, email address and phone numbers</li>
        <li>details of your complaint</li>
      </ul>

      <p class="govuk-body">Processing your personal data means we have a full record of the environmental incident.</p>

      <p class="govuk-body">
        The lawful basis we rely on to process your personal data is article 6(1)(e) of the UK General Data Protection Regulation (GDPR), 
        which allows us to process personal data when this is necessary to exercise our official authority set out in law under;
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the Environment Act 1990</li>
        <li>Environmental Permitting (England and Wales) Regulations 2016</li>
        <li>the Environment Act 1995</li>
      </ul>

      <h3 class="govuk-heading-l">What we do with your personal data</h3>

      <p class="govuk-body">
        We use personal data to respond to you regarding your incident report if necessary.
        We do not use your data to make any automated decisions or for automated profiling.
        We won’t share your personal data with anyone else outside the Environment
        Agency without your consent, unless we are required to do so by law.
      </p>

      <h2 class="govuk-heading-l">How long we keep your personal data</h2>

      <p class="govuk-body">
        We will keep your personal data while the incident is ongoing and for seven years after its conclusion in line with our retention policy.
      </p>

      <h2 class="govuk-heading-l">Where your personal data is processed and stored</h2>

      <p class="govuk-body">
        Any personal data will be stored in our National Incident Reporting System (NIRS) which is hosted in Milton Keynes.
      </p>

      <h2 class="govuk-heading-l">Contact details</h2>

      <p class="govuk-body">
        Our Data Protection Officer (DPO) is responsible for independent advice and monitoring of the Environment Agency’s use of personal information.
      </p>

      <p class="govuk-body">
        If you have any concerns or queries about how we process personal data, or if you would like to make a complaint or request relating to data protection, please contact our DPO:
      </p>

      <p class="govuk-body">
        Data Protection Officer, Environment Agency, Horizon House, Deanery Road, Bristol, BS1 5AH. Email: <a class="govuk-link" href="mailto:dataprotection@environment-agency.gov.uk">dataprotection@environment-agency.gov.uk</a>.
      </p>

      <p class="govuk-body">
        You can find out about your personal data rights from the <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/">Information Commissioner's Office</a> (ICO).
        The ICO regulate the data protection legislation.
        You have the right to lodge a complaint with them at any time.
      </p>

      <p class="govuk-body">
        This notice was last updated on 16 September 2021.
      </p>
    </div>
  </div>
</div>
{% endblock %}